/* Variables CSS - Codes Couleurs*/
:root {
  --items: #0052a9;
  --tags: #1771da;
  --select: #eee;
  --border: #bbb;
  --white: #fff;
  --teacher-speciality:#569ff3;
}

* {
  box-sizing: border-box;
}

body {
  background: #011020;
  font-family: sans-serif;
}

.container {
  width: 90%;
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
  background-color: var(--white);
}

.search-choices {
  padding: 1rem;
  border: 1px solid var(--border);
  background-color: var(--select);
  width: 50%;
  font-size: 1.25em;
}

.counter {
  font-size: 2.5em;
  margin: 2rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border);
}

.teacher {
  margin: 0.25rem 0;
  background-color: var(--items);
  color: var(--white);
  padding: 1rem;
  border-radius: 4px;
}

.teacher__base, .teacher__speciality {
  background-color: var(--tags);
  padding: 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.75em;
  border-radius: 4px;
}

.teacher__speciality {
  background-color: var(--teacher-speciality);
}

.hidden {
  display: none;
} 